.App {
  border: 4px solid #333;
  max-width: 50vh;
  margin: 7rem auto;
  padding: 2rem;

  position: relative;
}

.Sentence {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.Placeholder {
  padding: 0;
  margin: 0;
  opacity: 0;
  user-select: none;
}

.Word {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 1rem;
}

.Letter {
  pointer-events: none;
  position: relative;
  text-decoration: none;
}
.Letter.--in {
  transform: translateY(1ex);
  opacity: 0;
}
.Letter.--out {
  transform: translateY(-.5ex);
  opacity: 0;
}
